<div class="flex justify-center items-center overflow-y-auto h-[calc(100vh-110px)]">
  <div class="bg-white w-80 rounded-lg shadow-lg p-10">
    <p class="uppercase font-bold opacity-70">Recuperar Contraseña</p>
    <form (ngSubmit)="RecuperarContrasena()">
      <div class="mt-5 flex flex-col space-y-2">
        <input class="py-2 px-3 border w-full rounded-lg"
               type="text"
               placeholder="Ingresa Nombres"
               [(ngModel)]="dataRecuperar.nombres"
               name="nombres">
        <input class="py-2 px-3 border w-full rounded-lg"
               type="text"
               placeholder="Ingresa Apellidos"
               [(ngModel)]="dataRecuperar.apellidos"
               name="nombres">
        <input class="py-2 px-3 border w-full rounded-lg"
               type="text"
               placeholder="Ingresa nombre de Usuario"
               [(ngModel)]="dataRecuperar.username"
               name="nombres">
        <input class="py-2 px-3 border w-full rounded-lg"
               type="email"
               placeholder="Ingresar Email"
               [(ngModel)]="dataRecuperar.mail"
               name="nombres">
      </div>
      <button type="submit"
              class="py-1 w-full bg-red-500 mt-5 font-bold text-white rounded-lg hover:bg-red-600">
        Recuperar Contraseña
      </button>
      <div class="flex justify-end">
        <a href="/" class="text-sm text-blue-500">Volver al login</a>
      </div>
    </form>
  </div>
</div>
