<app-inicio>
  <div class="container mx-auto mt-10">
    <h1 class="text-2xl font-bold mb-5">Cambio de Estado de Usuarios</h1>

    <!-- Tabla de usuarios -->
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
      <tr class="bg-gray-200">
        <th class="border border-gray-300 px-4 py-2">Nombre de Usuario</th>
        <th class="border border-gray-300 px-4 py-2">Correo</th>
        <th class="border border-gray-300 px-4 py-2">Estado</th>
        <th class="border border-gray-300 px-4 py-2">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of listaUsuarios">
        <ng-container *ngIf="idUsuario === usuario.idusuario">
          <!-- Muestra la información del usuario -->
          <td class="border border-gray-300 px-4 py-2">{{ usuario.username }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ usuario.mail }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ usuario.status }}</td>
          <td class="border border-gray-300 px-4 py-2">
            <button class="text-yellow-500" (click)="editarUsuario(usuario)">
              Editar
            </button>
            <button class="text-yellow-500" (click)="cambiarEstadoUsuario(usuario.idusuario)">
              Cambiar Estado
            </button>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <!-- Formulario para editar usuario -->
    <div *ngIf="usuarioEditar" class="mt-5">
      <h2 class="text-xl font-semibold">Editar Usuario</h2>
      <form (ngSubmit)="guardarEdicion()">
        <div class="mb-4">
          <label for="username" class="block">Nombre de Usuario:</label>
          <input type="text" id="username" [(ngModel)]="usuarioEditar.username" name="username" class="border border-gray-300 p-2 w-full" required />
        </div>
        <div class="mb-4">
          <label for="mail" class="block">Correo:</label>
          <input type="email" id="mail" [(ngModel)]="usuarioEditar.mail" name="mail" class="border border-gray-300 p-2 w-full" required />
        </div>
        <div class="mb-4">
          <label for="status" class="block">Estado:</label>
          <select id="status" [(ngModel)]="usuarioEditar.status" name="status" class="border border-gray-300 p-2 w-full" required>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar Cambios</button>
      </form>
    </div>
  </div>
</app-inicio>
