<app-inicio>
  <h1 class="text-2xl font-bold text-gray-800">Asignar Rol a Usuarios</h1>
  <p class="text-gray-600">Asigna roles a los usuarios para gestionar mejor sus permisos.</p>
  <div class="px-8 py-10 ">

    <!-- Formulario principal -->
    <form (ngSubmit)="GuardarRolUsuario()"
          class="max-w-5xl mx-auto bg-white rounded-xl shadow-lg p-10 border border-gray-200">
      <!-- Panel de selección -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Usuarios sin Roles -->
        <div class="bg-gray-100 p-6 rounded-lg border border-gray-300 shadow-inner">
          <h3 class="text-xl font-semibold text-gray-700 mb-4 flex items-center">
            <span class="material-icons text-blue-600 mr-2">Usuarios</span> sin Roles
          </h3>
          <select
            [(ngModel)]="datosRolUsuario.idusuario"
            name="usuario"
            class="w-full border border-gray-300 rounded-lg py-3 px-4 focus:outline-none focus:ring focus:ring-blue-300"
          >
            <option *ngFor="let usuario of usuarios" [value]="usuario.idusuario">
              {{ usuario.username }}
            </option>
          </select>
          <p class="text-sm text-gray-500 mt-3">Selecciona un usuario para asignarle un rol.</p>
        </div>

        <!-- Roles disponibles -->
        <div class="bg-gray-100 p-6 rounded-lg border border-gray-300 shadow-inner">
          <h3 class="text-xl font-semibold text-gray-700 mb-4 flex items-center">
            <span class="material-icons text-green-600 mr-2">Roles</span> Disponibles
          </h3>
          <select
            [(ngModel)]="datosRolUsuario.idrol"
            name="rol"
            class="w-full border border-gray-300 rounded-lg py-3 px-4 focus:outline-none focus:ring focus:ring-green-300"
          >
            <option *ngFor="let rol of roles" [value]="rol.idrol">
              {{ rol.rolname }}
            </option>
          </select>
          <p class="text-sm text-gray-500 mt-3">Selecciona un rol para asignarlo al usuario.</p>
        </div>
      </div>

      <!-- Botón de acción -->
      <div class="flex justify-center mt-10">
        <button
          type="submit"
          class="bg-gradient-to-r from-blue-500 to-green-500 text-white py-3 px-8 rounded-full font-semibold shadow-md hover:shadow-lg transform hover:-translate-y-1 transition-all duration-200"
        >
          Registrar Rol al Usuario
        </button>
      </div>
    </form>
  </div>
</app-inicio>
