<app-inicio>
  <div *ngIf="isAdmin else noAdmin" class="min-h-screen bg-gray-100 p-6">
    <h1 class="text-2xl text-center text-gray-600 font-bold mb-6">
      Mantenimiento de Usuarios
    </h1>

    <!-- Filtro de búsqueda -->
    <div class="mb-6 flex justify-center">
      <input (input)="filterUsuarios($event)" class="p-2 border rounded-md" placeholder="Buscar usuario"/>
    </div>

    <!-- Botón para cargar archivo -->
    <div class="mb-6 flex justify-center">
      <input
        type="file"
        accept=".xlsx,.csv"
        (change)="onFileChange($event)"
        class="p-2 border rounded-md"
      />
    </div>
    <form (ngSubmit)="EstadoActualizarUsuario ? ActualizarUsuarios() : ActualizarUsuario()">
      <div class="grid grid-cols-4">
        <div class="m-2 flex flex-col">
          <label>Nombres</label>
          <input class="w-full rounded-lg py-1 px-2"
                 type="text"
                 [(ngModel)]="usuarioActualizar.nombres"
                 name="nombres"
          >
        </div>
        <div class="m-2 flex flex-col">
          <label>Apellidos</label>
          <input class="w-full rounded-lg py-1 px-2"
                 type="text"
                 [(ngModel)]="usuarioActualizar.apellidos"
                 name="apellidos">
        </div>
        <div class="m-2 flex flex-col">
          <label>Username</label>
          <input class="w-full rounded-lg py-1 px-2" type="text"
                 [(ngModel)]="usuarioActualizar.username"
                 name="username">
        </div>
        <div class="m-2 flex flex-col">
          <label>Mail</label>
          <input class="w-full rounded-lg py-1 px-2" type="text"
                 [(ngModel)]="usuarioActualizar.mail"
                 name="mail">
        </div>
      </div>
      <button type="submit" class="py-1 px-2 bg-gray-700 text-white font-semibold rounded-lg my-2">Actualizar Datos</button>
      <a class="py-1 m-1 px-2 bg-gray-300  font-semibold rounded-lg my-2" href="/mantenimiento_usuario">Datos de mi usuario</a>


    </form>

    <!-- Tabla de usuarios -->
    <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden">
      <thead>
      <tr>
        <th class="px-4 py-2 text-left">Nombre</th>
        <th class="px-4 py-2 text-left">Email</th>
        <th class="px-4 py-2 text-left">Estado</th>
        <th class="px-4 py-2 text-left">Rol</th>
        <th class="px-4 py-2 text-left">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of filteredUsuarios">
        <td class="px-4 py-2">{{ user.nombres }}</td>
        <td class="px-4 py-2">{{ user.mail }}</td>
        <td class="px-4 py-2">
          <button *ngIf="user.rolname === 'Usuario'" (click)="ActuzalizarEstado(user, user.status === 'Activo' ? 'Inactivo' : 'Activo')"
            class="bg-yellow-500 text-white px-3 py-1 rounded">
            {{ user.status }}
          </button>
        </td>
        <td class="px-4 py-2">{{ user.rolname }}</td>
        <td class="px-4 py-2">
          <button *ngIf="user.rolname === 'Usuario'" (click)="SelectActualizarUsuarios(user)"
                  class="bg-blue-500 text-white px-3 py-1 rounded">
            Actualizar
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noAdmin>
    <div class="min-h-screen bg-gray-100 p-6">
      <h1 class="text-2xl text-center text-gray-600 font-bold mb-6">
        Mantenimiento de tu Usuario
      </h1>
      <form (ngSubmit)="ActualizarUsuario()">
        <div class="grid grid-cols-2">
          <div class="m-2 flex flex-col">
            <label>Nombres</label>
            <input class="w-full rounded-lg py-1 px-2"
                   type="text"
                   [(ngModel)]="usuarioActualizar.nombres"
                   name="nombres"
            >
          </div>
          <div class="m-2 flex flex-col">
            <label>Apellidos</label>
            <input class="w-full rounded-lg py-1 px-2"
                   type="text"
                   [(ngModel)]="usuarioActualizar.apellidos"
                   name="apellidos">
          </div>
          <div class="m-2 flex flex-col">
            <label>Username</label>
            <input class="w-full rounded-lg py-1 px-2" type="text"
                   [(ngModel)]="usuarioActualizar.username"
                   name="username">
          </div>
          <div class="m-2 flex flex-col">
            <label>Mail</label>
            <input class="w-full rounded-lg py-1 px-2" type="text"
                   [(ngModel)]="usuarioActualizar.mail"
                   name="mail">
          </div>
        </div>
        <button type="submit" class="py-1 px-2 bg-gray-700 text-white font-semibold rounded-lg">Actualizar Datos</button>


      </form>
    </div>
  </ng-template>
</app-inicio>
